{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My Django Blog</a></h1>
        </div>
        <table border="1px">
            <caption>Все посты</caption>
            <tr>
                <th>Название</th>
                <th>Текст</th>
                <th>Дата публикации</th>
            </tr>
        {% for post in posts %}
            <tr>           
                <td>{{ post.title }}</td>
                <td>{{ post.text }}</td>
                <td>{{ post.published_date }}</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>